<!DOCTYPE html>
<html>
<head>
  <title>Dice Roller</title>
   <style>
    .navbar {
      display: flex;
      justify-content: space-around;
      color: white;
      background-color: black;
      padding: 30px;
    }

    body {
    background-color: gray;
    font-size: 1.5rem;
    }
    
    .choose {
      padding: 5vh;
      display: flex;
      flex-direction: column;
      background-color: #b282ff;
    }
    
    a {
     background-color: #d9c2ff;
     align-self: center;
     padding: 15px;
     border-radius: 25px;
     margin: 10px;
     text-decoration: none;
    }

    a:hover {
      box-shadow: 0 0 5px 5px white;
    }

    </style>
</head>
<body>
    <div class=navbar>
      <div>
        <a href="/dice/2/6">2D6</a>
      </div>
      <div>
        <a href="/dice/2/10">2D10</a>
      </div>
      <div>
        <a href="/dice/1/20">1D20</a>
      </div>
      <div>
        <a href="/dice/5/4">5D4</a>
      </div>
      <div>
        <a href="/dice/100/6">100D6</a>
      </div>
    </div>

  <%= yield %> 

</body>
</html>
